<h1 class="p-20">Stupid Coaching</h1>
<h6 class="p-20">Ask your coach anything:</h6>
<form action="answer" data-turbo="false">
  <input type="text" name="answer" class="p-30">
  <input type="submit" value="Ask!" class="btn btn-primary ">
</form>
